<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">SC-403</a>

        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/}">Inicio</a>
            <a class="nav-link" th:href="@{/cursos}">Cursos</a>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="bg-light text-center py-4 mt-5">
    <p class="mb-0">SC-403 Desarrollo de Aplicaciones Web</p>
</footer>

</body>
</html>